*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
.main-wrap{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	box-shadow: 0px 0px 2px 1px #000000;

}
.wrap-welkom{
	margin: 0 auto;
	background-color:#87509c; 
}
.wrap{
	margin: 0 auto;
	padding: 0;
	width: 1140px;
	padding-left: 20px;
	padding-right: 20px;

}
.welkom{
	margin: 0 auto;
	width: 100%;
	background-color:#87509c; 
	/*height: 120px;*/
	padding-left: 20px;
	padding-right: 20px;
}
.head{
	margin: 0;padding: 0;
	width: 100%;
}
.logo{
	padding-left: 40px;
	padding-top: 50px;
	float: left;
 }
.menu{
	margin-right: -77px;
	float: right;
	padding-top: 50px;
}
.menu ul{
	list-style: none;
	padding-right: 25px;

}
.link-nav-menu{
	display: inline-block;
    padding: 10px 2px;
    margin-right: 30px;
}
.link-nav-menu:hover{
	background: #643a79;
	border-radius: 5px;
/*	padding:7px;*/
}
.link-nav-menu:focus{
	background: #643a79;
	border-radius: 5px;
}
.link-nav-menu a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}
.welkom-zagolovok{
	clear: both;
	margin: 0 auto;
	text-align: center;
	padding-top: 104px;
	padding-bottom: 240px
}
h1{
	line-height: 1.5;
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
}
.welkom-dutton a,.portfolio-dutton a{
	margin: 0 auto;
    margin-top: 14px;
    margin-left: 33px;
    padding: 26px 84px;
    /* margin-top: 60px; */
    background-color: #eb7d4b;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border-bottom: 5px solid #914d2e;
}
.welkom-dutton a:active,
.portfolio-dutton a:active{
	border-bottom: none;
}

.wrap-services,
.wrap-forma, 
.wrap-portfolio {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-color: #17c2a4;
	text-align: center;
	color: #fff;
}
.zag-services, .zag-about-us{
	/*padding-bottom: 50px;*/
}
h2,h4{
	font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    padding-top: 120px;
    font-size: 40px;
    letter-spacing: 5px;
}
span.second-zag-services:before,
span.second-zag-about-us:before,
span.second-zag-portfolio:before {
	content: '';
    width: 85px;
    height: 3px;
    position: absolute;
    background: black;
    opacity: .15;
    top: -27px;
    right: 41%;
}
span.second-zag-services,
span.second-zag-about-us,
span.second-zag-portfolio{
	position: relative;
	margin: 0 auto;
    display: block;
    width: 640px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}
.our-servis{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 130px;
}

h3{
	 font-family: 'Titillium Web', sans-serif;
	 font-size: 24px;
	 font-weight: 600;
	 text-transform: uppercase;
	 padding-bottom: 30px;
}
[class$='-float']{
	padding-top: 80px ;
	padding-right: 20px;
	width: 25%;
	float: left;
}
.our-servis div:last-child {
	padding-right: 0px; 
}	
[class*='icon-img']{
	background: url(../img/servis-sprite.png);
	margin: 0 auto;
}
.branding{
	width: 120px;
	height: 130px;
	background-position: -76 0;
}
.design{
	width: 93px;
    height: 130px;
    background-position: -129px 0
}
.development{
	width: 170px;
    height: 130px;
    background-position: -230px 0;
}
.rocket{
	width: 120px;
    height: 130px;
    background-position: 127px 0;
}
.servis-text{
	padding-top: 60px;
}
.servis-text p{
	opacity: 0.7;
    padding: 0 20px;
    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}
.our-servis:after{
  content: "";
  display: table;
  clear: both;
  }
.wrap-portfolio{
	background-color: #ffdd99;
	color: #393939;
}
span.second-zag-portfolio{
	margin-bottom: 45px;

}
.tabs-menu{
	margin: 0 auto;
	padding-bottom: 60px;
}
.tabs-menu ul li{
	border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
    background-color: #ebc985;
}

.tablinks{
	margin: auto auto;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	padding:5px;
}
.tablinks:focus, .active {
    background-color: #fff;
}
.tablinks:hover {
    background-color: #fff;
    border-radius: 3px;
}
.portfolio-dutton{
	padding-top: 20px;
	padding-bottom: 110px;

}
.portfolio-dutton a{
	border-bottom: 5px solid #14a58c;
	background-color: #17c2a4;
}
.wrap-tabcontent{
	margin: 0 auto;	
	width: 100%;

}
.tabcontent{
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
}
.tabcontent p{
	padding: 35px 0px 65px 0px;
    font-size: 18px;
    font-weight: 500;
}
.about-us{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-color: #d74680;
	text-align: center;
	color: #fff;
}
.people-say-about-us{
	margin: 0 auto;
	width: 100%;
	margin-top: 65px;
	margin-bottom: 130px;

}
.people-say-about-us div:nth-child(n+3){
	margin-top: 150px
}
.people-say{
	width: 50%;
	float: left;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
  }
  .foto{
  	vertical-align: top;
    display: inline-block;
    width: 20%;ы
  }
 .say-text{
	font-family: 'Titillium Web', sans-serif;
    padding-left: 50px;
    display: inline-block;
    width: 76%;
    text-align: left;
}
.text{
	font-size: 21px;
	font-style: italic;
}
.name-about-us{
	padding-top: 30px;	
	padding-bottom: 10px;
  	display: block;
  	text-transform: uppercase;
  	font-family: 'Titillium Web', sans-serif;
  	font-size: 24px;
  	font-weight: 600;
}
 .under-name{
	color: #ffdd99;
  	display: block;
  }
.wrap-forma{
	background-color: #3c5499;
}
.zag-forma{
	padding-bottom: 20px;
}
/*h4{
	font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    padding-top: 120px;
    font-size: 40px;
    letter-spacing: 5px;*/
}
.second-zag-forma p{
	margin: 0 auto;
    display: block;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;

}
.second-zag-forma::before {
	content: '';
    width: 85px;
    height: 3px;
    position: absolute;
    background: black;
    opacity: .15;
    right: 48%;
 }
 form{
 	margin: 0 ;
 	width: 100%;
	padding-top: 80px;

 }
 input{
 	padding-left: 20px;
    border: 1px solid #273a71;
    border-radius: 5px;
    width: 412px;
    height: 55px;
    background: #273a71;
 }
 .mail, .name{
 	color: #fff;
    font-size: 18px;
 }
 .mail{
 	margin-left: 30px;
 }   
 .input-massage{
 	padding-top: 25px;
 	margin: 0 auto;
 	
 }
 textarea{
 	padding: 20px;
 	color: #fff;
    font-size: 18px;
 	width: 860px;
 	border: 1px solid #273a71;
    border-radius: 5px;
    background:  #273a71;
    width: 860px;
    height: 200px;
    resize: vertical;
 }
 button{
 	width: 290px;
    font-size: 18px;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 120px;
    background: #30bae7;
    border-radius: 5px;
    border: none;
    color: #fff;
    border-bottom: 5px solid #299ec5;
 }
button:active{
	border: none;
}
footer{
	margin: 0 auto;
	width: 100%;
	background: #344b8e;  
}
.footer-nav{
	padding:45px 100px;
	width: 100%;

}
.footes-links{
	list-style: none;
}
.footes-links li{
	padding-right: 64px;
	display: inline-block;

}
.footes-links li:last-child {
	padding-right: 0px;
}
.footes-links li a{
	text-decoration: none;
	color: #fff;
	/*text-transform: uppercase;*/
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 18px;

}
.footes-links li a:hover{
	color: #30bae7;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #95CD8B;
    border-right-color: #D0E6BB;
    text-align: center;
    font: 22px/81px SANS-serif;

}
.circle1 {
    width: 100px;
    height: 100px;
    /*border-radius: 50%;*/
    border: 10px solid #95CD8B;
    border-right-color: #D0E6BB;
    border-bottom-color: #D0E6BB;
    text-align: center;
    font: 22px/81px SANS-serif;
    position: relative;

}
.border-1{
	position: absolute;
	width: 100px;
	height: 10px;
	color: red;
	background: tomato;

} 
.border-2{
	position: absolute;
	width: 100px;
	height: 10px;
	color: red;
	background: tomato;

} 
.border-3{
	position: absolute;
	width: 100px;
	height: 10px;
	color: red;
	background: tomato;

} 
.border-4{
	position: absolute;
	width: 100px;
	height: 10px;
	color: red;
	background: tomato;

} 