@import url("reset.css");
@import url("normalize.css");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.main-wrap{
	position: relative;
    margin: 0 auto;
    width: 1600px;
}
.gradient{
	
    overflow: hidden;
    width: 100%;
    height: 670px;
    background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#09052f 0%,#311d5e 100%);
    position: absolute;
    z-index: 3;
    opacity: 0.9;
}
.wrap-head{
	width: 100%;
	background-image: url(img/head-fon.jpg);
	overflow: hidden;
	min-height: 670px;
}
header{
	margin: 0 auto;
	width: 960px;
	height: 50px;
	padding: 15px 10px;

}
.head{
	margin: 0 auto;
	width: 960px;
	padding: 15px 10px;
}
.logo{
	float: left;
	width: 350px
}
.logo-pic{
	display: inline;
	width: 60px;
}
.logo-name{
	top: -14px;
    position: relative;
    display: inline-block;
    width: 100px;

}
.logo-name p{
	font-weight: 100;
	color: #23899c;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;

}
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
*/nav{
	margin-top: 15px; 
	margin-right: 20px;
	width: 550px;
	float: right;
}
ul{
	list-style: none;
}
li{
	padding-right: 20px;
	display: inline-block;
}
.list a{
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #fff;
}
.list a:hover{
	color: #00e0d0;
}
.content-head{
	clear: both;
	margin: 0 auto;
	width: 820px;
	padding-top: 170px;

}
h1{
	font-weight: 900;
	color: #fff;
	display: block;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 32px;

}
h1:after{
	content: '';
    width: 60px;
    position: relative;
    top: 24px;
    right: -46%;
    height: 1px;
    display: block;
    background-color: #00e0d0;
}
.content-head-text p {
	line-height: 1.5em;
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding-top: 50px;
}
.content-head-link {

	margin: 0 auto;
	margin-top: 50px;
	width: 120px;
	height: 40px;
	border: 1px solid #82f2ff;
	
}
.content-head-link a {
	font-family: 'Hammersmith One', sans-serif;
    margin: auto auto;
    position: relative;
    color: #82f2ff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    top: 10px;
    right: -13px;
}
.about-our{
	margin: 0 auto;
	width: 100%;
	background-color: #fff;

}
.our-wrap{
	margin: 0 auto;
	width: 960px;
	/*background-color: grey;*/

}
.our-logo{
	float: left;

}
.our-logo img{
	padding: 70px 0 0 70px;
}
.our-story{
	margin-left: 410px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.our-story p{
	opacity: .65;
	line-height: 1.4em;
	padding-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.our-story h2{
	opacity: .65;
	padding-top: 70px;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: 700;
	color: #000;
}
.our-link{
	margin-bottom: 70px;
	margin-top: 50px;
	width: 120px;
	height: 40px;
	border: 1px solid #82f2ff;
}
.our-link a{
	font-family: 'Hammersmith One', sans-serif;
    margin: auto auto;
    position: relative;
    color: #82f2ff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    top: 10px;
    right: -13px;
}
.our-video{
	min-height: 550px;
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url(img/fon-video.jpg);
	
}
.gradient-video{
	overflow: hidden;
    width: 100%;
    height: 550px;
    background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#09052f 0%,#311d5e 100%);
    position: absolute;
    z-index: 3;
    opacity: 0.9;
}
.video-play{
	display: block;
	padding-top: 18px;
    margin-top: 20px;
    top: 200px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: relative
}
.button-play{
	position: absolute;
    top: 25px;
    right: 25px;
}
.video-play:active{
	box-shadow: inset 1px 6px 5px 0px rgba(255,255,255,1.75),
				inset -1px -6px 5px 0px rgba(255,255,255,1.75), 
				inset 1px 6px 5px 0px rgba(255,255,255,1.75), 
				inset -1px -6px 5px 0px rgba(255,255,255,1.75);
}
h4{
	font-family: 'Roboto', sans-serif;
    margin-top: 230px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.expertis{
	margin: 0 auto;
	padding: 0;
	width: 100%;

}
.expertis-wrap{
	margin: 0 auto;
	width: 960px;
	text-align: center;
	font-family: 'Playfair Display', serif;
}
.expertis-title{
	width: 100%;
	margin-bottom: 75px;

}
h5{
	font-weight: 700;
	margin-top: 70px;
	font-size: 22px;
}
.expertis-title p{
	font-size: 14px;
	margin-top: 15px;
}
h5:after{
    content: '';
    width: 50px;
    position: relative;
    top: 54px;
    right: -48%;
    height: 2px;
    display: block;
    background-color: #c6c4c9;

}
.items{
	margin: 0 auto;
	padding:0;
	width: 100%;
	padding-bottom: 100px;
}
.item-web-float,.item-branding-float,.item-app-float {
	border-bottom: 1px solid #ebebeb;
}
/*.items:nth-child(2n){
	border-bottom: 1px solid grey;
}
.items:nth-child(3n){
	border-bottom: 1px solid grey;
}*/
.item-branding-float,.item-game-float{
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
[class$='-float']{
	padding-top: 40px;
	width: 33.33%;
	height: 250px;
	float: left;
}
[class*='icon-img']{
	padding-top: 40px;
	width: 50px;
	height: 50px;
	background-image: url(img/item-icon.png);
	background-position: 0 0;
    margin: 0 auto;
}
.web{
	background-position: 0 0;
}
.branding{
	background-position: -64px 0;
}
.app{
	background-position: 222px 0;
}
.serch{
	background-position: -175px 0;
}
.game{
	background-position: 108px 0;
}
.made{
	background-position: -289px 0;
}
h6{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:700; 	
	text-align: center;
	margin-top: 35px;
	margin-bottom: 25px;
	color: #413d4b;
}
.item-text{
	width: 268px;
    line-height: 1.4em;
    margin: 0 auto;
}
.item-text p{
	opacity: .75;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:100; 	
	text-align: center;	
}


.clearfix{
  content: "";
  display: table;
  clear: both;
}
footer{
	clear: both;
	margin: 0 ;
	padding:0;
	width: 100%;
	height: 398px;
	background-image: url(img/foter-fon.jpg);
    background-size:cover; 
}
footer:after{
	content: '';
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 398px;
    background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#09052f 0%,#311d5e 100%);
    position: absolute;
    z-index: 3;
    opacity: 0.75
}
.footer-wrap{
	margin: 0 auto;
	width: 960px;
	position: relative;
	z-index: 5;
	padding: 0 10px 0 10px;
}
.first-footer{
	margin: 0 auto;
	padding: 0;
}

.logo-footer{
	margin: 0 auto;
	width: 33.3%;
	padding-top:70px; 
	float: left;	
}
.footer-fist-line{
	color: #fff;
    padding-top: 87px;
    float: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 33.3%;
    font-weight: 700;
    padding-left: 10px;
}
.two-footer{
	margin: 0 auto;
	width: 100%;

}
.two-footer-text{
	padding-right: 40px;
    padding-left: 0px;
    float: left;
    width: 33.3%;
}
.two-footer-text p{
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
	line-height: 1.6em;
    color: #fff;
    padding-bottom: 20px;
}
.two-footer-data{
	padding-right: 20px;
	padding-left: 10px;
	float: left;
	width: 33.3%;
}
.adres:before{
	content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    background-image: url(img/data-sprite.png);
    background-position: 3px 0;
}
.adres p ,.tel p {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
	padding-left: 30px;
    line-height: 1.6em;
    color: #fff;
    padding-bottom: 20px;
}
.tel:before{
	content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    background-image: url(img/data-sprite.png);
    background-position: -20px 0;
}
.soc-media{

    float: left;
    width: 33.3%;
}
.face{
	display: inline-block;
	width: 35px ;
	height: 35px;
	border:1px solid #fff;
	border-radius: 50%;
}
.footer-bottom{
	padding-top: 50px;
	margin:0 auto;
	width: 100%;
}
.footer-bottom-left{
	float: left;
}
.footer-bottom-right{
	float: right;
}
.footer-bottom-right p, .footer-bottom-menu {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
}